<div *ngIf="photos">
  <div *ngFor="let photo of photos.photo; let i = index">
    <img [src]="'https://farm' + photo.farm + '.staticflickr.com/' + photo.server + '/' +
    photo.id + '_' + photo.secret + '.png'"
         [alt]="photo.title">
  </div>
</div>
